<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061532786707-lbcpj1vcfcmph5nsmr2kfeemrad3572v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061532786707-lbcpj1vcfcmph5nsmr2kfeemrad3572v</string>
	<key>API_KEY</key>
	<string>AIzaSyBFVO8ithUmdmR45zrHUVaxcqa9g008ex4</string>
	<key>GCM_SENDER_ID</key>
	<string>1061532786707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goethe.paywise</string>
	<key>PROJECT_ID</key>
	<string>paywise-629e2</string>
	<key>STORAGE_BUCKET</key>
	<string>paywise-629e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061532786707:ios:06a81ff8318996a3</string>
	<key>DATABASE_URL</key>
	<string>https://paywise-629e2.firebaseio.com</string>
</dict>
</plist>