/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/

.actionbar{
    background-color: #1F2D44;
    color: white;
}

.btn {
    font-size: 14;
}

.orderGrid {
    font-size: 20;
    margin: 10%;
}

/*Actionbar*/

.actionbar{
    background-color: #1F2D44;
    color: white;
}


/*RadSideDrawer*/

.radsideheader{
    background-color: #1F2D44;
    color: white;
    text-align: left;
    height: 30%;
}

.radsideheadercred{
    margin-left: 3%;
}

.radsidepic{
    width: 45%;
    height: 45%;
    margin-top: 10%;
    margin-bottom: 8%;
}

.radsidebody{
    background-color: #EBEBEB;
    color: #FFFFFF;
    height: 70%;
}

.radsidebutton{
    background-color: #EBEBEB;
    color: #1F2D44;
    height: 12,50%;
    font-weight: bold;
    border-width: 1px;
    border-color: #1F2D44;
}

.radsidebuttonsignout{
    background-color: #3F5069;
    /*background-color: #3ebeb1;*/
    color: white;
    height: 12,50%;
    font-weight: bold;
    border-width: 1px;
    border-color: white;
    margin-top: 41%;
}

/*App-content*/

.buttonprimary{
    background-color: #01B4D0;
    color: white;
    padding: 10;
    margin-left: 10;
    margin-right: 10;
    margin-top: 10;
    margin-bottom: 10;
    height: 7%;
    border-radius: 25px;
}


.buttonsecondary{
    background-color: #464646;
    color: white;
    padding: 10;
    margin-left: 10;
    margin-right: 10;
    margin-top: 10;
    margin-bottom: 10;
    border-radius: 25px;
    height: 9%;
}


.willkommen{
    align-content: center;
}


/*QR Code Scanner*/

.qrcodebackground{
    background-image: linear-gradient(to bottom right,#1F2D44,#3F5069);
}

.qrcodepic{
    width: 200;
    height: 200%;

    vertical-align: center;
}

/*MyOrders*/
.myorderslist{
    margin-left: 20%;
    background-color: white;
    align-content: stretch;
}

.radlistorder{
    width: 100%;
}

.handback{

    color: white;
    margin-left: 20;
    margin-right: 10;
    margin-top: 10;
    margin-bottom: 10;
    height: 100%;
    width: 6%;
    height: 6%;
}


.ghost-round {
    cursor: pointer;
    background:#464646;
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.65);
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    line-height: 2.5em;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    margin-left: 10;
    margin-right: 10;
    margin-top: 10;
    margin-bottom: 10;
    height: 8%;
  }


.pick-button {
    height: 50;
    width: auto;
    background: none;
    margin: white;
    color: black;    
}

.splitButton{
    height:25;
    width: auto;
    background: none;
    margin: white;
    color: black;      
}



.sumup{
    margin-bottom: 20;
}

.buttonprimarybit{
    background-color: #01B4D0;
    color: white;
    padding: 10;
    margin-left: 10;
    margin-right: 10;
    margin-top: 10;
    margin-bottom: 10;
    height: 80%;
    border-radius: 25px;
}

.myordercontent{
    margin-left: 20;
    margin-right: 10;
    margin-top: 10;
    margin-bottom: 25;
    height: 45%;
}

.slidercontent{
    color: #464646;
    align-content: center;
}

.slidercontent1{
    color: #464646;
    font-size: 10;
    align-content: center;
    margin-bottom: 10;
}
