/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 14;
}

.orderGrid {
    font-size: 20;
    margin: 10%;
}

/*Actionbar*/

.action-bar{
    background-color: #66c792;
    color: #66c792;
}

.menuicon{
    width: 5%;
    height: 5%;
}

/*RadSideDrawer*/

.radsideheader{
    background-color: #66c792;
    color: white;
    text-align: center;
    Height: 25%;
}

.radsidepic{
    width: 50%;
    height: 50%;
    margin-top: 5%;
}

.radsidebody{
    background-color: #66c792;
    color: white;
}

.radsidebutton{
    background-color: #66c792;
    color: white;
    height: 12,50%;
    font-weight: bold;
    border-width: 1px;
    border-color: white;
}

.radsidebuttonsignout{
    background-color: orange;
    color: white;
    height: 12,50%;
    font-weight: bold;
    border-width: 1px;
    border-color: white;
    margin-top: 29%;
}

/*App-content*/

.buttonprimary{
    background-color: #66c792;
    color: white;
}

.buttonsecondary{
    background-color: #FFFFFF;
    color: white;
}

.content{
    background-color: #EBEBEB;
    color: white;
}