.pickButton {
    height: 40;
    width: 40;
}

.tableorders {
    background: white;
    width: 90%;
    height: auto;
}

.tableicon{
    height:80;
    width: 80;
    margin-bottom: 3%;
}
    
    
    
    


    


.ordersText {
    margin-top: 5%;
    margin-bottom: 5%;
    size: 30;
    width: 90%;
    border-style: solid;
    border-color:black;
    

}

.myOrdersButton {
    height: 60;
    width: 130;
    margin-bottom: 10;
    horizontal-align: right;
    margin-top: 20%;
    cursor: pointer;
    background:#01B4D0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    color: white;
  }
    
    
}


